#floating_booking {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  padding: 15px 20px;
  z-index: 9;
  transition: all 0.2s ease;
  background-color: #000 !important;
  z-index: 999;
}

#floating_booking:hover {
  color: black;
  background: #c7b373 !important;
}

footer.site-footer.u-footer-background.u-container-sides-spacing.full-width {
  padding-bottom: 90px;
}
